@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.complementary {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.complementary>div {
    width: 100%;
}

.comp__top {
    display: grid;
    place-items: center;
    height: 60px;
    margin-bottom: 30px;
}

.comp__top>h3 {
    font-size: 1.8rem;
    font-family: 'Titan One', cursive;
    color: #fff;
    font-weight: 50;
}

.complementary__form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
}

.complementary__form>label:first-child {
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.txtArea {
    background-color: transparent;
    padding: 10px;
    color: #fff;
    margin-bottom: 20px;
    resize: none;
    width: 100%;
    max-width: 500px;
    height: 130px;
}

.seqoption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.seqoption>label {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.seqoption>label>span {
    margin-left: 4px;
}

.comp__btn {
    width: 140px;
    height: 40px;
    display: grid;
    place-items: center;
    margin-top: 30px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    background-color: crimson;
    color: #fff;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}

.comp__btn:hover {
    background-color: #151515;
    color: #fff;
    border: 1px solid crimson;
}

.comp__bottomResult {
    margin-top: 50px;
}

.comp__bottomResult>div.same {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.comp__bottomResult>div>div {
    width: 80%;
    height: 150px;
}

.comp__bottomResult>div>div>p {
    margin-top: 10px;
}

.resultDisplay {
    background-color: #9c3cb2;
    padding: 0 10px;
    padding-top: 6px;
    padding-bottom: 5px;
    height: 100%;
    max-height: 100px;
    width: 100%;
    max-width: 500px;
    resize: none;
    margin-top: 8px;
    overflow: auto;
    color: #fff;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    user-select: none;
}



@media screen and (max-width:565px) { 
    .comp__top>h3 {
        font-size: 1.4em;
    }
    
    .seqoption {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .complementary__form {
        margin-left: 0px !important;
    }
}

@media screen and (max-width:400px) {

    .seqoption {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .seqoption> .sc {
        /* text-decoration: underline; */
        color: coral;
    }

    .comp__top>h3 {
        font-size: 1em;
    }

    .complementary__form>label:first-child {
        font-size: 0.8em;
    }

    .comp__bottomResult>div.same {
        margin-left: 0px !important;
    }

    .comp__bottomResult>div>div {
        width: 100%;
    }

    .same {
        margin-left: 0px !important;
    }
}


@media screen and (max-height: 400px) {
    .complementary {
        padding-bottom: 60px;
    }
}